.big-image {
	background: url('https://www.fuessen.de/fileadmin/Bilder/3._Rad_Wandern_Winter_Wasser/grosse_Bilder_1600x900/winter-wintergenuss-spass-im-schnee.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}