<nav class="navbar">  
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar">Menu</span>
               
           </button>
           <a class="navbar-brand" routerLink ="/"><img src="../../assets/img/winterlogo.png"/></a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
               <li><a routerLink ="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
               <li><a routerLink ="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" onclick="$('#aboutWindow').css('left','16vw');">About</a></li>

           </ul>
       </div>
       <!--/.nav-collapse -->
   </div>
</nav>
