#aboutWindow{
 position: fixed;
 padding: 2em;

 top: 9vh;
 left: -32vw;
 
 background-color:  lightblue;
 border: solid black 3px;
 border-radius: 9%;
}

.closeX{
  position: absolute;
  top: 0.1em;
  right: 1em; 
}

.closeX:hover{
 cursor:  pointer;	
}