<div class="row">
<div class="container-fluid why">
	<div class="container text-center">
		<h1>{{homeHeading}}</h1>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-home"></i>
			<h2>{{homeCol1H}}</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-plane"></i>
			<h2>{{homeCol2H}}</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-user"></i>
			<h2>{{homeCol3H}}</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-ok"></i>
			<h2>{{homeCol4H}}</h2>
		</div>
	</div>
</div>
</div>