<div class="row">
<div class="container-fluid why">
	<div class="container text-center">
		<h1>Why we are the best</h1>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-home"></i>
			<h2>Accommodation</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-plane"></i>
			<h2>Transportation</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-user"></i>
			<h2>Seasoned Agents</h2>
		</div>
		<div class="col-lg-3 text-center">
			<i class="glyphicon glyphicon-ok"></i>
			<h2>Easy Trip Planning</h2>
		</div>
	</div>
</div>
</div>